+++
title = "von Laszewski"
linkTitle = "von Laszewski"
+++


{{< blocks/cover title="von Laszewski" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/name" >}}">
	  Name <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/coatofarms" >}}">
	  Coat of Arms <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/contrib" >}}">
	  Contributing <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="http://vonLaszewski.github.io">
	  Home <i class="fas fa-home"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="http://laszewski.github.io">
	  Gregor <i class="fas fa-home"></i>
	</a>
         <a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/vonLaszewski/vonLaszewski.github.io">
	  Github <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"><b
  style="font-size:30px;color:yellow">This Web page is dedictaed to
 information about the name von Laszewski.</b></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
von Laszewski Is a Web page dedicated to collect information about the
name von Laszewski.
{{% /blocks/lead %}}


<!-- ------------------------------------------ -->


{{< blocks/section color="light" >}}

{{% blocks/feature icon="fa-graduation-cap"
    title="The history of the name." url="https://vonLaszewski.github.io/" %}}    
Learn about the history of the name.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-check-circle" title="Coat of Arms"
url="https://vonLaszewski.github.io/" %}}
See information about the coat of arms.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-graduation-cap"
    title="List of Refernces." url="https://vonLaszewski.github.io/" %}}    
See a list of refernces about the name.
{{% /blocks/feature %}}

      
{{% /blocks/feature %}}

<!-- ------------------------------------------ -->

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-envelope"
    title="Contact." %}}    
Gregor von Laszewski
laszewski@gmail.com
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-check-circle" title="" %}}
{{% /blocks/feature %}}


    
{{% blocks/feature icon="fab fa-github" title="Contributions are welcome!" url="https://github.com/vonLaszewski/vonLaszewski.github.io" %}}

We use a [Pull Request](https://github.com/vonLaszewski/vonLaszewski.github.io/pulls) to add
contributions on **GitHub**. New users are always welcome!
      
{{% /blocks/feature %}}



<!--
{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}
-->

{{< /blocks/section >}}




  
